<ion-content>
  <div class="content">
    <div class="header">
      <div class="head"><img src="assets/login/bsu.png" /></div>
      <div class="logo"><img src="assets/login/logo.png" /></div>
    </div>
    <div class="details">
      <h3>PERSONAL DETAILS</h3>
      <p>
        Your personal details are used to verify the<br />
        validity of your response and will not be <br />passed on the third
        party organizations.
      </p>
    </div>
    <div class="form">
      <label> Given/ First Name</label>
      <ion-item>
        <ion-input placeholder="Kenneth Joshua Reano"></ion-input>
      </ion-item>
      <label> Family/ Last Name</label>
      <ion-item>
        <ion-input placeholder="Kenneth Joshua Reano"></ion-input>
      </ion-item>
      <label> Email Adress</label>
      <ion-item>
        <ion-input placeholder="Kenneth Joshua Reano"></ion-input>
      </ion-item>
      <label> Age</label>
      <ion-item>
        <ion-input placeholder="Kenneth Joshua Reano"></ion-input>
      </ion-item>
      <label> Alma Matter Location</label>

      <select>
        <option>Bsu Alangilan</option>
        <option>Bsu Main</option>
        <option>Mindoro State University</option>
      </select>
    </div>
    <div class="register">
      <p>Register 1 of 3</p>
      <div [routerLink]="['/register2']">Next ></div>
    </div>
  </div>
</ion-content>
