@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Poppins&family=Staatliches&display=swap");
* {
  margin: 0;
  padding: 0;
}
.main-con {
  background-image: url("/assets/icon/kist.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  height: 1000px;
  font-family: Poppins;
  background-color: #9c0d20;
}
.header {
  position: relative;
}
.logo {
  display: flex;
  justify-content: center;
}
.logo > img {
  position: absolute;
  margin-top: -110px;
  height: 175px;
}
.details {
  gap: 10px;
  color: white;
  margin-top: 90px;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.details > h3 {
  font-family: Staatliches;
}
.details > p {
  line-height: 1.2rem;
  text-align: center;
  font-size: 12px;
}
.form > label {
  font-weight: bold;
  color: white;
  font-size: 13px;
  margin-top: 10px;
}
.form {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form > ion-item {
  width: 230px;
  --border-radius: 10px;
  --background: #b47b83;
}
.form > ion-item > ion-label > img {
  height: 20px;
  width: 20px;
}
.form > select {
  width: 200px;
  height: 45px;
  border-radius: 10px;
  background-color: #b47b83;
}
.register {
  font-weight: bold;
  font-size: 15px;
  color: white;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}
.register > div {
  padding: 3px;
  background-color: #b47b83;
  border-radius: 5px;
}
