@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Poppins&family=Staatliches&display=swap");
* {
  margin: 0;
  padding: 0;
}
.main-con {
  background-image: url("/assets/icon/kist.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  height: 1000px;
  background-color: #9c0d20;
}
.header {
  position: relative;
}
.logo {
  display: flex;
  justify-content: center;
}
.logo > img {
  position: absolute;
  margin-top: -110px;
  height: 175px;
}
.radiobuttons {
  margin-top: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
  text-align: center;
  font-family: Poppins;
}
.radiobuttons > h3 {
  font-family: Staatliches;
}
.radiobuttons > .con {
  font-family: Poppins;
  margin-top: 10px;
}
.radiobuttons > .con > p {
  font-size: 12px;
  text-align: center;
  margin-top: 10px;
}
.con > ion-list {
  border-radius: 10px;
}

.con > ion-list > ion-radio-group > ion-item > ion-radio {
  --border-radius: 20px;
  --inner-border-radius: 4px;
  --background: #e8bac0;
  --color: #e8bac0;
  --color-checked: #ec1515;
}
.con > ion-list > ion-radio-group > ion-item > ion-label {
  margin-left: 20px;
  font-size: 12px;
}
.con > ion-list {
  width: 230px;
  margin-top: 10px;
}
.con > ion-list > ion-radio-group > ion-item {
  --background: #9c0d20e5;
  color: white;
}
.degree {
  font-family: Poppins;
  font-size: 12px;
  margin-top: 30px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
}
.degree > ion-item {
  width: 230px;
  --border-radius: 10px;
  --background: #b47b83;
  width: 150px;
}
.degree > label {
  text-align: center;
}
.address {
  font-family: Poppins;
  font-size: 12px;
  margin-top: 30px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
}
.address > label {
  text-align: center;
}
.address > select {
  width: 200px;
  height: 45px;
  border-radius: 10px;
  background-color: #b47b83;
}

.register {
  font-weight: bold;
  font-size: 15px;
  color: white;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}
.register > div {
  gap: 20px;
  display: flex;
}
.register > div > div {
  padding: 3px;
  background-color: #b47b83;
  border-radius: 5px;
}
