@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: Poppins;
}

.main-con {
  background-image: url("/assets/icon/kist.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 565px;
}
.content {
  display: flex;
  justify-content: space-between;
}
.news {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-top: 460px;
  border: 0px solid;
  height: 90px;
  width: 140px;
  background-color: #e1e1e1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.events {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-top: 460px;
  border: 0px solid;
  height: 90px;
  width: 140px;
  background-color: #e1e1e1;
  flex-direction: column;
}
.events > img {
  height: 30px;
  width: 30px;
}
.news > img {
  height: 30px;
  width: 30px;
}
