<ion-content>
  <div class="header">
    <img src="assets/icon/BSU-LOGO.png" />
    <div>
      BatStateU <br />
      <span>Alumni</span>
    </div>
  </div>
  <div class="main-con"></div>
  <div class="navbar">
    <div class="home" [routerLink]="['/home']">
      <img src="assets/icon/BSU-LOGO.png" />Home
    </div>

    <div class="jobs"><img src="assets/icon/BSU-LOGO.png" />Jobs</div>
    <div class="alumni"><img src="assets/icon/BSU-LOGO.png" />Alumni</div>
    <div class="profile"><img src="assets/icon/BSU-LOGO.png" />Profile</div>
  </div>
</ion-content>
