<ion-content>
  <div class="header">
    <img src="assets/icon/BSU-LOGO.png" />
    <div>
      BatStateU <br />
      <span>Alumni</span>
    </div>
  </div>
  <div class="main-con"></div>
  <div class="navbar">
    <div class="home" [routerLink]="['/home']">
      <img src="assets/icon/navbar/home.png" />Home
    </div>

    <div class="jobs" [routerLink]="['/home']">
      <img src="assets/icon/navbar/jobs.png" />Jobs
    </div>
    <div class="alumni" [routerLink]="['/home']">
      <img src="assets/icon/navbar/alumni.png" />Alumni
    </div>
    <div class="profile" [routerLink]="['/home']">
      <img src="assets/icon/navbar/profile.png" />Profile
    </div>
  </div>
  <app-header></app-header>
</ion-content>
