@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: Poppins;
}

.main-con {
  height: 565px;
  background-color: white;
}
.width {
  display: flex;
  justify-content: center;
}
.content > .searchBar > h3 {
  font-size: 16px;
  font-weight: bolder;
  color: black;
}
.content {
  padding-top: 13px;
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.find {
  display: flex;
  gap: 5px;
  align-items: center;
}
.find > img {
  height: 15px;
  width: 15px;
}
.find > div > input {
  border-color: black;
  border-width: 1px;
  border-radius: 6px;
  width: 90px;
  height: 18px;
  padding-right: 30px;
  background-color: white;
  font-size: 10px;
  color: black;
}
.find > div {
  display: flex;
  position: relative;
  align-items: center;
}
.find > div > button > img {
  margin-top: -10px;
  width: 25px;
  height: 20px;
  position: absolute;
  right: 0;
}

.con {
  margin-top: 12px;
}
.infos {
  align-items: center;
  display: flex;
  color: black;
  background-color: #d9d9d9;
  height: 150px;
}

.infos > div > p {
  font-size: 10px;
  font-weight: bold;
}
.infos > .pic {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 85px;
  height: 120px;
  background-color: white;
}
