<ion-content>
  <app-header></app-header>
  <div class="main-con">
    <div class="width">
      <div class="content">
        <div class="searchBar">
          <h3>Batch 2022-2023</h3>
        </div>

        <div class="find">
          <img src="assets/icon/alumni/filter.png" />
          <div>
            <input type="text" />
            <button type="submit">
              <img src="assets/icon/alumni/serts.png" />
            </button>
          </div>
        </div>
      </div>
    </div>

    <ion-list>
      <div class="alumnis" *ngFor="let item of lists">
        <ion-label>
          <div class="con">
            <div class="infos">
              <div class="pic">{{item?.image}}</div>
              <div>
                <p>NAME: {{item?.name}}</p>
                <p>ADDRESS: {{item?.address}}</p>
                <p>DEPARTMENT: {{item?.department}}</p>
                <p>COURSE: {{item?.course}}</p>
                <p>EMPLOYMENT STATUS: {{item?.stat}}</p>
              </div>
            </div>
          </div>
        </ion-label>
      </div>
    </ion-list>

    <ion-infinite-scroll (ionInfinite)="loadMore($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data..."
      >
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>
<app-nav-bar></app-nav-bar>
