@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: Poppins;
}

.main-con {
  height: 565px;
}
.width {
  display: flex;
  justify-content: center;
}
.content > .searchBar > h3 {
  font-size: 17px;
  font-weight: bolder;
}
.content {
  padding-top: 10px;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.find > img {
  height: 10px;
  width: 10px;
}
.nexprev {
  width: 60%;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}
.nexprev > h4 {
  font-size: 12px;
  color: #9c0d20;
}
