<ion-content>
  <app-header></app-header>
  <div class="main-con">
    <div class="width">
      <div class="content">
        <div class="searchBar">
          <h3>Batch 2022-2023</h3>
        </div>

        <div class="find">
          <img src="assets/icon/alumni/filter.png" />
          <div>
            <input type="text" />
            <button type="submit">
              <img src="assets/icon/alumni/serts.png" />
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="width">
      <div class="nexprev">
        <h4>< Previous</h4>
        <h4>Next ></h4>
      </div>
    </div>
    <div class="info">
      <app-alumni-info></app-alumni-info>
      <app-alumni-info></app-alumni-info>
      <app-alumni-info></app-alumni-info>
    </div>
  </div>
  <app-nav-bar></app-nav-bar>
</ion-content>
