.navbar {
  height: 61px;
  background-color: #9c0d20;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}
.navbar > div {
  font-size: 13 px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navbar > div > img {
  padding-top: 5px;
  height: 30px;
  width: 26px;
  filter: invert(10%);
}
