<ion-content>
  <app-header></app-header>
  <div class="main-con">
    <div class="width">
      <div class="content">
        <div class="searchBar">
          <img src="assets/icon/jobs/sort1.png" />
          <p>Sort</p>
          <img src="assets/icon/jobs/sort2.png" />
        </div>

        <div class="find">
          <img src="assets/icon/alumni/filter.png" />
          <div>
            <input type="text" />
            <button type="submit">
              <img src="assets/icon/alumni/serts.png" />
            </button>
          </div>
        </div>
      </div>
    </div>

    <ion-list>
      <div class="jobs" *ngFor="let item of lists">
        <ion-label>
          <div class="con">
            <div class="infos">
              <div class="company">
                <div class="pic">{{item?.image}}</div>
                <div class="nameloc">
                  <p>{{item?.company}}</p>
                  <span> <p>{{item?.comloc}}</p></span>
                </div>
              </div>
              <div class="quali">
                <p>{{item?.positions}}</p>
                <p>Qualifications: {{item?.quali}}</p>
              </div>
              <div class="message" [routerLink]="['/sendmail']">
                <div class="messcon">
                  <img src="assets/icon/jobs/message.png" />
                  <p>Message</p>
                </div>
              </div>
            </div>
          </div>
        </ion-label>
      </div>
    </ion-list>

    <ion-infinite-scroll (ionInfinite)="loadMore($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data..."
      >
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>
<div class="navbar">
  <div class="home" [routerLink]="['/landing']">
    <img src="assets/icon/navbar/home.png" />Home
  </div>

  <div class="jobs" [routerLink]="['/jobs']">
    <img src="assets/icon/navbar/jobs.png" />Jobs
  </div>
  <div class="alumni" [routerLink]="['/alumni-tab']" (click)="showLoading()">
    <img src="assets/icon/navbar/alumni.png" />Alumni
  </div>
  <div class="profile" [routerLink]="['/profile']">
    <img src="assets/icon/navbar/profile.png" />Profile
  </div>
</div>
