@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: Poppins;
}

.main-con {
  height: 565px;
  background-color: white;
  margin-left: -3px;
}
.width {
  display: flex;
  justify-content: center;
}

.content > .searchBar > h3 {
  font-size: 16px;
  font-weight: bolder;
  color: black;
}
.content {
  padding-top: 13px;
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.find {
  display: flex;
  gap: 5px;
  align-items: center;
}
.find > img {
  height: 15px;
  width: 15px;
}
.find > div > input {
  border-color: black;
  border-width: 1px;
  border-radius: 6px;
  width: 90px;
  height: 18px;
  padding-right: 30px;
  background-color: white;
  font-size: 10px;
  color: black;
}
.find > div {
  display: flex;
  position: relative;
  align-items: center;
}
.find > div > button > img {
  margin-top: -10px;
  width: 25px;
  height: 20px;
  position: absolute;
  right: 0;
}
.jobs {
  display: flex;
  justify-content: center;
}
.con {
  font-size: 10px;
  margin-top: 12px;
  background-color: #d9d9d9;
  display: flex;
  width: 270px;
  justify-content: center;
}
.infos > div > p {
  font-size: 9px;
}
.infos {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
}
.infos > .company > .pic {
  width: 40px;
  height: 40px;
  padding: 10px;
  background-color: white;
  border-radius: 50%;
}
.company {
  gap: 10px;
  display: flex;
  font-size: 10px;
  align-items: center;
}
.quali {
  padding: 8px;
}
.quali > p {
  padding: 2px;
}
.company > .nameloc > p {
  font-size: 10px;
  font-weight: bold;
}
.nameloc > span > p {
  font-size: 7px;
}
.con > .infos > .message {
  display: flex;
  justify-content: flex-end;
}
.con > .infos > .message > .messcon {
  background-color: #9c0d20;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 3px;
}
.con > .infos > .message > .messcon > p {
  font-size: 9px;
  color: white;
  border-radius: 5px;
}
.con > .infos > .message > .messcon > img {
  height: 15px;
  width: 15px;
}
