<ion-content>
  <div class="socials">
    <img
      onclick="window.open('https://www.facebook.com', '_system', 'location-yes');return false;"
      src="assets/icon/socials/fb.svg"
    />
    <img
      onclick="window.open('https://www.facebook.com', '_system', 'location-yes');return false;"
      src="assets/icon/socials/twitter.svg"
    />

    <img src="assets/icon/socials/linkedin.svg" />
    <img src="assets/icon/socials/ig.svg" />

    <img src="assets/icon/socials/yt.svg" />
  </div>
</ion-content>
